openai
deepspeed==0.9.1
datasets==2.11.0
huggingface-hub==0.11.0
sentencepiece
tokenizers
accelerate==0.22.0
tensorboard
protobuf==3.20.1
xlrd
openpyxl
ipdb
wandb==0.13.0
sacrebleu
jieba
rouge
peft==0.5
transformers==4.28.1
awscli
opencv-python
opencv-contrib-python
opencv-python-headless
tiktoken